body {
	background-color:pink;
}

.picture1{
	text-align: center;
}

.Universal{
	border: solid 2px black;
	background: white;
	text-align: center;
	font-size: 3em;
	width:350px;
	padding:30px;
	margin-top:10px;
	margin-bottom:20px;
	display:inline-block;
}

.sea{
	border: solid 2px black;
	background: white;
	text-align: center;
	font-size: 1em;
	width:250px;
	padding:30px;
	margin-top:10px;
	margin-bottom:20px;
	display:inline-block;
}

.main{
	width:600px;
	float:left;
	padding:10px;
}

.right{
	width:30%;
	float:left;
	padding:10px;
	border:2px solid black;
}

.resume{
	text-align:left;
	border:2px solid black;
	padding:20px;
}







